Checks: |
    bugprone-*, cert-*, clang-analyzer-*, misc-*,
    performance-*, portability-*, readability-*,

CheckOptions:
    - key: bugprone-reserved-identifier.AllowedIdentifiers
      value: _XOPEN_SOURCE;_BSD_SOURCE;_DARWIN_C_SOURCE;_DEFAULT_SOURCE;_GNU_SOURCE;_FORTIFY_SOURCE
    - key: cert-dcl37-c.AllowedIdentifiers
      value: _XOPEN_SOURCE;_BSD_SOURCE;_DARWIN_C_SOURCE;_DEFAULT_SOURCE;_GNU_SOURCE;_FORTIFY_SOURCE
    - key: cert-dcl51-cpp.AllowedIdentifiers
      value: _XOPEN_SOURCE;_BSD_SOURCE;_DARWIN_C_SOURCE;_DEFAULT_SOURCE;_GNU_SOURCE;_FORTIFY_SOURCE
    - key: bugprone-easily-swappable-parameters.IgnoredParameterNames
      value: uid;gid
    - key: readability-function-cognitive-complexity.Threshold
      value: 30
    - key: readability-function-cognitive-complexity.DescribeBasicIncrements
      value: false
