.DS_Store
.vscode
*.a
*.bak
*.ctu-info
*.dump
*.gcda
*.gcno
*.gcov
*.lock
*.log
*.o
*.swp
*.tgz
*.tgz.asc
a.out
build.h
compat.h
config.h
config.status
cov
local.env
lcov.info
makefile
speed.env
sucgi
sucgi-*
tests/*
!tests/*.c
!tests/*.h
!tests/*.sh
tools/*
!tools/*.c
!tools/*.h
!tools/*.sh
tmp-*
