.DS_Store
.vscode
*.a
*.bak
*.ctu-info
*.dump
*.gcda
*.gcno
*.gcov
*.o
*.swp
*.tgz
*.tgz.asc
a.out
config.status
cov
cppcheck/build/*
local.env
lcov.info
makefile
tests/*
!tests/*.c
!tests/*.h
!tests/*.sh
tools/*
!tools/*.c
!tools/*.h
!tools/*.sh
sucgi
sucgi-*
