.DS_Store
.vscode
*.a
*.asc
*.bak
*.ctu-info
*.dump
*.expand
*.gcda
*.gcno
*.gcov
*.log
*.info
*.o
*.out
*.pdf
*.so
*.swp
*.tgz
compat.h
config.status
cov
cppcheck/build/*
gcov
local.env
makefile
sucgi
sucgi-*
tests/*
!tests/*.c
!tests/*.h
!tests/mock
tests/mock/*
!tests/mock/*.c
!tests/mock/*.h
!tests/scripts
!tests/util
tests/util/*
!tests/util/*.c
!tests/util/*.h
utils/*
!utils/*.c
!utils/*.h
tmp-*
